.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    /* transition di 3 secondi per farlo gradualmente */
    transition: all 3s;
}
/* hover per far si che quando ci si va sopra diventi rosso */
.ex-1-square:hover{
    background-color: red;
}
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    /* transition di 5 secondi per farlo fradualmente */
    transition: all 5s;
}
/* active per far si che quando ci si clicca aumenta la sua larghezza in modo da divenrtare un rettangolo*/
.ex-2-square:active{
    width: 100%;
}
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    /* transition di 5 secondi per farlo fradualmente */
    transition: all 5s;
}
/* hover per far si che il quadrato diventi un cerchio */
.ex-3-square:hover{
    border-radius: 50%;
}
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    /* transition di 5 secondi per farlo fradualmente */
    transition: all 5s;
}
/* hover per far sparire il quadrato */
.ex-4-square:hover{
    opacity: 0;
}
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    /* transition di 3 secondi per farlo gradualmente */
    transition: all 3s;
}
/* hover con transform:scale in modo da renderlo il doppio piú grande quando ci passiamo sopra */
.ex-5-square:hover{
    transform: scale(2);
}
/* active con transform:scale in modo da renderlo la metá quando ci si clicca sopra */
.ex-5-square:active{
    transform: scale(0.5);
}
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}
/* hover per rendere in bianco e nero l'immagine */
.ex-6-img:hover{
    filter:grayscale(1);
}
/* transition di 3 secondi per farlo gradualmente */
.ex-7-img{
    transition: all 3s;
}
/* hover per far si che cambi colore l'immagine */
.ex-7-img:hover{
    filter: grayscale(1) sepia(0.7);
}
/* transition di 5 secondi per farlo gradualmente */
.ex-8-img{
    transition: all 5s;
}
/* hover per far si che cambi colore e diventi con i bordi arrotondati */
.ex-8-img:hover{
    border-radius: 30px;
    filter: grayscale(1) sepia(0.7) ;
}
.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    /* transition di 3 secondi per farlo gradualmente */
    transition: all 3s;
}
/* hover per far si che cambi colore, che i bordi diventino arrotondati e che l'immagine scali dimensione */
.ex-9-img:hover{
    border-radius: 30px;
    filter: grayscale(1) sepia(0.7) ;
    transform: scale(1.5);
}
.ex-10-icon {
    font-size: 60px;
    /* animazione per farlo girare, nome animazione: gira1, tempo del giro: 1 sec, modo: linear , delay: 0s e all'infinito*/
    animation: gira1 1s linear 0s infinite ;
}
/* keyframes gira1 , per dire cosa succede */
@keyframes gira1 {
    0%
        {
            /* transform che fa roteare l'immagine */
            transform: rotate(360deg);
    }
}
.ex-11-icon {
    font-size: 60px;
}
/* animazione per farlo girare, nome animazione: gira2, tempo del giro: 2 sec, modo: ease-out cosi da farlo tornare velocemente indietro , delay: 0s*/
.ex-11-icon:hover{
    animation: gira2 2s ease-out 0s;
}
/* keyframes gira2 , per dire cosa succede */
@keyframes gira2 {
    0%{
        /* transform che fa roteare l'immagine */
        transform: rotate(0);
    }
    75%{
        /* transform che fa roteare l'immagine fino a 3/4 */
        transform: rotate(270deg);
    }
    100%{
        /* transform che fa roteare indietro l'immagine */
        transform: rotate(0);
    }
}
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
